<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-header">
                <input [(ngModel)]="searchText" placeholder="search text goes here" class="search">
            </div>

            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>
                                <div>
                                    <select id="select-types">
                                        <option selected>All types</option>
                                        <option>Temperature</option>
                                        <option>CO2</option>
                                    </select>
                                </div>
                            </th>
                            <th>All brands</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of templatesData | filter: searchText">
                            <td>{{project.getName()}}</td>
                            <td>{{project.sensorType}}</td>
                            <td>{{project.brand}}</td>
                        </tr>
                    </tbody>
                </table>
                <app-templates-modal></app-templates-modal>
            </div>
        </div>
    </div>
</div>