<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-header row">
                <div class="col-lg-8 col-md-6 col-sm-4 p-0">
                    <input [(ngModel)]="searchText" placeholder="search text goes here" class="search">
                </div>
                <div class="custom-control custom-checkbox col-lg-2 col-md-3 col-sm-4">
                    <input type="checkbox" class="custom-control-input" id="ccCheck" [(ngModel)]="checkedCC" checked>
                    <label class="custom-control-label" for="ccCheck">Cloud Connects</label>
                </div>
                <div class="custom-control custom-checkbox col-lg-2 col-md-3 col-sm-4">
                    <input type="checkbox" class="custom-control-input" id="scCheck" [(ngModel)]="checkedSC" checked>
                    <label class="custom-control-label" for="scCheck">Sensor Connects</label>
                </div>
            </div>

            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Chip ID</th>
                            <th>Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="clickEvent(stock); activeIndex = stock" *ngFor="let stock of stockData | filter: searchText | ccChecked: checkedCC | scChecked: checkedSC; let i= index"
                            [ngClass]="{ active : activeIndex === stock }">
                            <td>{{stock.name}}</td>
                            <td>{{stock.type}}</td>
                            <td>{{stock.id}}</td>
                            <td>
                                <a>{{stock.project}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>