<div class="animated fadeIn">
  
  <div class="card" [hidden]="show">
    <app-devices-tree-header></app-devices-tree-header>
    <div class="row tree-chart-wrap card-body">
      <div class="col-md-12">
        <app-devices-tree-component></app-devices-tree-component>
      </div> 
    </div>
  </div>

  <div class="card" [hidden]="!show">
    <div class="card-header">
      <span>All projects</span>
      <div class="ml-auto" style="float: right;">
        <button type="button" class="btn btn-info btn-sm ml-auto" (click)="openTree(false)">Cancel</button>
      </div>
    </div>
    <div class="row tree-chart-wrap card-body">
        <div class="col-md-12">
          place for
        </div> 
      </div>
  </div>

</div>
