<div class="row">
  <div class="building-wrap col-lg-4 col-md-4 col-sm-6 col-xl-3" *ngFor="let project of projects">

    <div class="building card" [routerLink]="['/chart', project.id]">
      <div class="card-header">
        <img src="../../../assets/img/officebuilding.svg">
        <h4 class="mb-0 card-title">{{project.name}}</h4>
        <div class="btn-group">
          <button type="button" class="btn-more ml-auto btn btn-secondary">
            <img src="../../../assets/img/more.svg" class="btn-more">
          </button>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-info">
          <li>
            <i class="icon-location-pin"></i>
            {{project.address}}
          </li>
          <li>
            <i class="icon-energy"></i>
            {{project.getNumberOfSensors()}} sensors
          </li>
        </ul>
      </div>
      <div class="card-footer {{buildingStatus}}">
        {{buildingStatus}}
      </div>
    </div>

  </div>
</div>