li {
  list-style-type: none;
}

a {
  color: #536c79;
}

a:hover, a:active {
  color: #151b1e;
}

.page-header {
  display: block;
  margin-left: 10px;
  font-size: 26px;
  text-transform: uppercase;
}
