<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>{{this.getChartName()}}</strong>
        <app-period (periodChangedEvent)='periodChangedEvent($event)' (realtimeStateChangedEvent)='realtimeStateChangedEvent($event)'
          (channelChangedEvent)='channelChangedEvent($event)' [sensorConnect]='this.sensorConnect'></app-period>
      </div>

      <div class="card-body">
        <div style="position: relative">
          <app-am-chart [dataProvider]='metrics'></app-am-chart>
          <app-chart-loader [hidden]="!displayLoader"></app-chart-loader>
          <app-no-data-chart [hidden]="!displayNoData"></app-no-data-chart>
        </div>
        <app-legend (sensorsChangedEvent)='sensorsChangedEvent($event)' [sensor]='filteredSensors'></app-legend>
      </div>
    </div>
  </div>
</div>