<form class='control-group'>
    <div class="card-footer">
        <ul>
            <li *ngFor="let sensor of _sensors" class="">
                <div class="sensor-area" (click)="clickEvent(sensor)" [ngClass]="sensor.isSelected ? 'active' : 'static'">
                    <div class="progress progress-lg">
                        <div class="progress-bar gray" role="progressbar" style="width: 100%" aria-valuenow="60"
                            aria-valuemin="100px" aria-valuemax="100">
                        </div>
                        <div class="progress-bar" role="progressbar" [style.background-color]="sensor.graphColor" style="width: 100%" aria-valuenow="60"
                            aria-valuemin="100px" aria-valuemax="100">
                        </div>
                    </div>
                    <div id='legend-div' class="sensor-name text-left">{{sensor.getName()}}</div>
                </div>
            </li>
        </ul>
    </div>
</form>