.add-sensor-btn {
    width: 150px;
    margin: 25px 0;
    color: #115770;
    background-color: #c1e7f4;
    border: 1px solid rgba(0,0,0,.125);
    float: right;

    &:hover {
      color: #115770;
      background-color: #abdff0;
    }

    &:active {
      color: #115770;
      background-color: #abdff0;
    }
}

.static {
    display: none;
}

li {
    list-style-type: none;
}

.header {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-left: 10px;
}

ul.sensors-ul {
    padding-left: 0;

    .sensor-area ul {
        padding-left: 0;
    }
}

.sensor-connects {
    display: block;
    padding: .5rem 1rem;
    cursor: pointer;
    min-height: 52px;
    max-height: 52px;

    .sc-chipId {
        display: block;
        color: #666;
        font-size: 10px;
    }

    .sc-name {
        display: block;
    }

    &:hover {
      background-color: #e4e5e6;

      &.activeSC {
        background-color: #20a8d8;
      }
    }
}


.sensor-wrap {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    min-height: 45px;
    max-height: 45px;

    .sensor-name {
        display: block;
    }

    .icon-eye{
        display: inline-block;
        margin-top: 15.5px;
        vertical-align: middle;
     }

    .btn-preview {
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0 25px;

        &:hover {
          color: #ffffff;
        }
     }

    &:hover {
      background-color: #e4e5e6;
      cursor: pointer;

      &.sensorSelected {
        background-color: #a6def2;
      }
    }
}

.activeSC {
    background-color: #20a8d8;
}


.sensor-area {
    display: none;
}

.active {
    display: block;
}

.sensorSelected {
  background-color: #a6def2;
}

