
.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ccc;
    user-select: none;
    min-height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
}