.modal-input div {
    margin-bottom: 10px;
}

#sensor-description {
    width: 100%; 
    resize: none;
}

.category-type-area {
    margin-top: 20px;
}

.min-max-area {
    margin-top: 30px;
    margin-bottom: 20px;
}

#sensor-name, #sensor-brand, #sensor-color, #sensor-deeplink {
    width: 100%;
}

#select-category, #select-type {
    width: 70%;
}